[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
composeparser = {ref = "python_lib", git = "https://github.com/uchenic/compose-ref.git"}
composenomadconvertor = {path = "."}

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
