[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
composeparser = {path = "./../compose-ref"}

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
